@charset "UTF-8";
/* Font */
@font-face {
  font-family: "Futura Book";
  src: url("./font/Futura LT Folder/Futura LT Book.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bold";
  src: url("./font/Futura LT Folder/Futura LT Bold.otf") format("opentype");
}
@font-face {
  font-family: "Futura Light";
  src: url("./font/Futura LT Folder/Futura LT Light.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium";
  src: url("./font/Futura LT Folder/Futura LT Medium.otf") format("opentype");
}
@-webkit-keyframes increase {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes increase {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes discrease {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes discrease {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
/* Tools */
.toHide {
  display: none;
}

/* Base */
body {
  font-family: "Futura Book";
  font-size: 1.3rem;
  line-height: 1.34;
  background-color: white;
}

.header {
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.5em;
  border-top: 1px solid #0382d2;
  border-bottom: 1px solid #0382d2;
  padding: 6px 0;
}

.small_banner {
  padding: 24px;
  background-color: #0382d2;
  color: white;
  margin-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.small_banner__left {
  width: 20%;
  min-width: 200px;
  text-align: center;
}
.small_banner__left p {
  font-size: 4rem;
}

.small_banner__right {
  width: 75%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  font-size: 2rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

/* Menu */
.menuServices {
  position: fixed;
  z-index: 150000;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #0382d2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.menuServices > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menuServices > ul > li {
  display: inline-block;
  width: 18.93764%;
  float: left;
  position: relative;
  z-index: 103;
}
.menuServices > ul > li::after {
  content: url("./img/triangle.png");
  position: absolute;
  bottom: -7px;
  left: 50%;
}
.menuServices > ul > li:first-child::after, .menuServices > ul > li.menu__search::after {
  content: "";
}
.menuServices > ul > li a {
  color: #0382d2;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: white;
  -webkit-transition: 0.3s all background-color;
  transition: 0.3s all background-color;
  -webkit-transition: 0.3s all color;
  transition: 0.3s all color;
}
.menuServices > ul > li a:hover {
  background-color: #0382d2;
  color: white;
}
.menuServices > ul > li form {
  width: 100%;
  padding: 11px 0;
  text-align: center;
}
.menuServices > ul > li form label {
  display: none;
}
.menuServices > ul > li form input[type='text'] {
  width: 70%;
  border: 1px solid grey;
  padding: 2px;
  margin: 0;
}
.menuServices > ul > li form input[type='submit'] {
  width: 24px;
  right: 24px;
  top: 17px;
  text-indent: -5000px;
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url("./img/search.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 2em;
}

/* Logo + Search bar */
.menuServices > ul > li:first-child {
  width: 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menuServices > ul > li:first-child a {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.menuServices > ul > li:first-child a:hover {
  background-color: transparent;
}
.menuServices > ul > li:first-child a img {
  width: 50px;
}

.menuServices > ul > li.menu__search {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Drop Down
 *
 * /* Level 1 */
.menuServices > ul > li > ul {
  display: none;
  width: 100%;
  border: none;
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 102;
}
.menuServices > ul > li > ul li {
  position: relative;
}
.menuServices > ul > li > ul li a {
  width: 95%;
  padding-left: 5%;
  text-align: left;
}

.menuServices > ul > li:hover > ul {
  display: block
  /* Level 2 */
}

.menuServices > ul > li > ul > li > ul {
  display: none;
  width: 100%;
  border: none;
  position: absolute;
  left: 100%;
  top: 10%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 101;
}
.menuServices > ul > li > ul > li > ul li a {
  width: 100%;
  text-align: left;
  text-indent: 12px;
}

.menuServices > ul > li > ul > li:hover > ul {
  display: block;
}

/* banniere */
.banniere {
  margin-top: 50px;
  position: relative;
}
.banniere > img {
  width: 100%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.banniere > div {
  position: absolute;
  left: 48px;
  top: 56px;
  text-align: center;
  font-size: 3rem;
  color: white;
  width: 30vw;
  background-color: #0382d2;
  padding: 24px;
  box-shadow: 0 0 20px 20px #0382d2;
}
.banniere > div img {
  width: 6.67vw;
}
.banniere > div p {
  text-align: justify;
  font-weight: bold;
  font-size: 2vw;
}

/* Main Menu */
.containMenu {
  display: none;
  width: 240px;
  float: left;
  padding-bottom: 500px;
  margin-top: 24px;
  margin-left: 24px;
}

.mainMenu {
  background-color: white;
  border: 2px solid #2a1e8a;
}
.mainMenu li {
  color: #2a1e8a;
  display: inline-block;
  width: 224px;
  padding: 6px 0;
  padding-left: 12px;
  margin: 6px 0;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all;
}
.mainMenu li:hover {
  background-color: #2a1e8a;
  color: white;
}

section {
  text-align: center;
  margin: 48px 0;
  padding: 0 24px;
  border-bottom: 2px solid #0382d2;
}
section > ul {
  padding: 0 36px;
}
section p {
  font-size: 1.3rem;
}

h2 {
  font: 5rem "Futura Light";
  color: #0382d2;
}

.quiSommesNous {
  border-bottom: none;
}
.quiSommesNous p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}

.call {
  width: 100%;
  background-color: #0382d2;
  margin-top: 0;
  padding: 48px 24px;
  box-sizing: border-box;
}
.call svg {
  width: 100px;
  height: 100px;
}
.call path {
  fill: white;
}
.call .bold {
  font-family: "Futura Bold";
  color: white;
}
.call p {
  font-size: 2rem;
}

.services .header {
  color: #0382d2;
}
.services .window {
  text-align: left;
  width: 49%;
  display: inline-block;
  margin: 24px 0;
}
.services .window .svg {
  float: left;
  font-size: 8rem;
  height: 125px;
  width: 125px;
  padding-left: 24px;
  position: relative;
  color: #0382d2;
}
.services .window .svg::before {
  font-family: "Pe-icon-7-stroke";
  position: absolute;
  left: 0;
  top: -20px;
}
.services .window .svg__service-prevention::before {
  content: "";
}
.services .window .ico__prevention::before {
  content: "";
}
.services .window .svg__service-therapeutique::before {
  content: "";
}
.services .window .svg__service-parentalite::before {
  content: "";
}
.services .window .svg__service-reduction-des-risques::before {
  content: "";
}
.services .window path {
  fill: #0382d2;
}
.services .window a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 80%;
  padding: 9%;
  border: 2px solid white;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
}
.services .window a:hover {
  border: 2px solid #0382d2;
}

.news {
  border-bottom: none;
}
.news .header {
  color: #0382d2;
}
.news .item {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.news .owl-nav {
  width: 30%;
  margin: 24px auto;
}
.news .owl-prev {
  width: 50%;
  float: left;
  position: relative;
  text-align: left;
  color: #0382d2;
}
.news .owl-prev::before {
  font-family: "Pe-icon-7-stroke";
  font-size: 3rem;
  content: "";
  position: absolute;
  left: -3rem;
  top: -1.2rem;
}
.news .owl-next {
  width: 50%;
  float: right;
  position: relative;
  text-align: right;
  color: #0382d2;
}
.news .owl-next::after {
  font-family: "Pe-icon-7-stroke";
  font-size: 3rem;
  content: "";
  position: absolute;
  right: -3rem;
  top: -1.2rem;
}
.news .owl-prev, .news .owl-next {
  text-decoration: underline;
  -moz-text-decoration-color: white;
       text-decoration-color: white;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
}
.news .owl-prev:hover, .news .owl-next:hover {
  -moz-text-decoration-color: #0382d2;
       text-decoration-color: #0382d2;
}
.news .owl-dot {
  background-color: grey;
  opacity: 0.5;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  margin: 0 12px;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
}
.news .owl-dot:hover {
  background-color: #0382d2;
  opacity: 0.8;
}
.news .owl-dots .active {
  background-color: #0382d2;
  opacity: 1;
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  border-bottom: none;
  background-color: #0382d2;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
}
.footer li, .footer p {
  margin: 6px;
}
.footer a {
  padding: 6px;
  color: white;
  background-color: #0382d2;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
  text-decoration: none;
  display: inline-block;
}
.footer a:hover {
  color: #0382d2;
  background-color: white;
}
.footer .header {
  font-size: 1.5em;
  border: none;
  text-align: left;
  width: 100%;
  padding-left: 0;
  font-family: "Futura Bold";
}
.footer div {
  vertical-align: top;
  text-align: left;
  width: 30%;
}
.footer ul, .footer p {
  width: 98%;
  padding-left: 2%;
}

.contactSM p {
  font-size: 1.5rem;
}

.ico__adress::before {
  content: "";
}

.ico__tel::before {
  content: "";
}

.ico__fax::before {
  content: "";
}

.ico__prevention::before {
  content: "";
}

.ico__therapeutique::before {
  content: "";
}

.ico__parentalite::before {
  content: "";
}

.ico__rdr::before {
  content: "";
}

.ico__social::before {
  content: "";
}

.ico__administration::before {
  content: "";
}

.ico__direction::before {
  content: "";
}

.ico {
  position: relative;
}

.contactSM .ico::before {
  font-family: "Pe-icon-7-stroke";
  position: absolute;
  font-size: 2rem;
  left: -2rem;
  top: -0.33rem;
}

/* Article */
.arborescence {
  color: #0382d2;
  text-align: left;
}
.arborescence a {
  color: #0382d2;
}
.arborescence a:hover {
  text-decoration: none;
}
.arborescence p, .arborescence ul {
  display: inline-block;
}
.arborescence p:after, .arborescence ul:after {
  content: ">>";
  padding: 0 6px;
}
.arborescence p:last-child:after, .arborescence ul:last-child:after {
  content: "";
}
.arborescence p li, .arborescence ul li {
  display: inline-block;
}

article {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
}
article .contentArticle {
  margin: 24px 0;
}
article .contentArticle a {
  color: #0382d2;
}
article .contentArticle a:hover {
  text-decoration: none;
}

.category > ul, .category p {
  text-align: left;
  margin: 24px 0;
}
.category > ul > li, .category p > li {
  font-size: 1.5em;
  color: #0382d2;
  list-style-type: circle;
  margin: 24px 0;
}
.category > ul > li ul, .category p > li ul {
  padding-left: 24px;
  font-size: 1.5rem;
}
.category > ul > li ul li, .category p > li ul li {
  color: #0382d2;
  list-style-type: disc;
  margin: 6px 0;
}
.category > ul > li a, .category p > li a {
  color: #0382d2;
}
.category > ul > li a:hover, .category p > li a:hover {
  text-decoration: none;
}
.category > p {
  margin-top: 0;
}

.question, .lien {
  border: 2px solid #0382d2;
  margin: 24px auto;
}
.question p, .lien p {
  font-size: 1.5em;
  text-align: left;
  padding-left: 12px;
  margin: 12px 0;
}
.question .question__title, .question .lien__title, .lien .question__title, .lien .lien__title {
  color: #0382d2;
  font-family: "Futura Bold";
}
.question .question__title, .lien .question__title {
  border-bottom-style: dashed;
  border-bottom: 3px #0382d2;
}

.lien__description {
  color: white;
  background-color: #0382d2;
  padding: 12px;
}
.lien__description p {
  padding: 0;
  width: 100%;
}

.lien__title a {
  text-decoration: none;
  color: #0382d2;
}
.lien__title a:hover {
  text-decoration: underline;
}

.lien__link a {
  color: #0382d2;
}
.lien__link a:hover {
  text-decoration: none;
}

h3 {
  font-size: 4rem;
  font-family: "Futura Bold";
  color: #0382d2;
}

h4 {
  font-size: 3rem;
  font-family: "Futura Book";
  text-decoration: underline;
  color: #0382d2;
}

h5 {
  font-size: 2rem;
}

.people {
  width: 235px;
  height: 425px;
  display: inline-block;
  text-align: left;
  padding: 6px;
  margin: 12px;
  border: 2px solid #0382d2;
  vertical-align: top;
}
.people span {
  display: block;
}
.people p {
  margin-bottom: 12px;
}

.people__container {
  border: 4px solid #0382d2;
  margin: 24px 0;
  padding: 24px;
  font-size: 0;
}

.people__photo {
  float: left;
  width: 100%;
}
.people__photo img {
  width: 100%;
}

.people__header {
  color: #0382d2;
}

.selfhelp {
  border: 2px solid #0382d2;
  margin: 24px auto;
}
.selfhelp p {
  font-size: 1.5em;
  text-align: left;
  padding: 12px 0;
  padding-left: 12px;
}
.selfhelp .selfhelp__title {
  color: white;
  font-family: "Futura Bold";
  background-color: #0382d2;
}
.selfhelp .selfhelp__header {
  font-family: "Futura Bold";
  color: #0382d2;
  margin-top: 24px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.contact {
  text-align: left;
}

.contact__title {
  font-size: 3rem;
  color: #0382d2;
  margin-bottom: 24px;
}

.contact__image {
  float: left;
}
.contact__image img {
  width: 480px;
  display: block;
  margin-bottom: 24px;
}
.contact__image iframe {
  width: 480px;
  height: 360px;
}

.contact__info {
  margin-left: 504px;
}
.contact__info p {
  margin-bottom: 12px;
}
.contact__info p span {
  color: #0382d2;
  text-decoration: underline;
}

.contact__mail {
  margin-bottom: 12px;
}

p.contact__header {
  color: #0382d2;
  text-decoration: underline;
  margin-bottom: 6px;
}

.search {
  text-align: left;
}
.search h2 {
  text-align: center;
}
.search li {
  margin: 6px 0;
}
.search a {
  color: #0382d2;
  text-decoration: none;
  background-color: white;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
  padding: 6px;
  display: inline-block;
}
.search a:hover {
  background-color: #0382d2;
  color: white;
}

.search__results div div {
  border-bottom: 2px solid #0382d2;
  padding: 24px;
}

.search__selectors {
  text-align: left;
  border: 2px solid #0382d2;
  border-radius: 24px;
  display: inline-block;
  padding: 12px;
  margin: 24px 0;
}

.search__selectors__button {
  display: inline-block;
  margin: 0 24px;
  position: relative;
}

.search__selectors__infos {
  text-align: center;
  margin-bottom: 12px;
  color: #0382d2;
  font-family: "Futura Bold";
}

.search__selectors_button_label {
  color: black;
  -webkit-transition: 0.3s all linear;
          transition: 0.3s all linear;
  cursor: pointer;
}
.search__selectors_button_label:hover {
  color: #0382d2;
}

.search__selectors_button_underline {
  border-bottom: 2px solid #0382d2;
  bottom: 0;
  left: 0;
  margin-top: 1px;
  position: absolute;
  -webkit-animation: increase 0.2s forwards;
          animation: increase 0.2s forwards;
}

.tarif {
  margin: 24px 0;
  margin-bottom: 36px;
  text-align: left;
}

.tarif__title {
  font-size: 2rem;
  color: #0382d2;
}

.tarif__note {
  font-style: italic;
  margin: 12px 0;
}

.tarif li {
  list-style-type: disc;
  margin-left: 24px;
}

.tarif__description + p {
  padding: 12px;
  border: 2px solid #0382d2;
  margin: 12px 0;
  display: inline-block;
}

.tarif__content {
  padding-left: 12px;
}

.job, .partenariat {
  border: 2px solid #0382d2;
  padding: 12px;
  text-align: left;
  margin-top: 24px;
}

.job__title, .partenariat__title, .partenariat__contact__header {
  font-size: 2rem;
  color: #0382d2;
  margin-bottom: 12px;
}

.job__note {
  font-style: italic;
  margin: 12px 0;
}

.job li {
  list-style-type: disc;
  margin-left: 24px;
}

.job__description {
  margin-bottom: 12px;
  display: inline-block;
}

.job__content {
  padding-left: 12px;
}

.partenariat__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.partenariat img {
  width: 200px;
  float: left;
  margin-right: 24px;
  margin-bottom: 12px;
}

.partenariat__description {
  vertical-align: top;
}

.partenariat__contact__header {
  clear: both;
  margin-top: 12px;
  margin-bottom: 6px;
}

.map {
  text-align: left;
  border-bottom: none;
}
.map a {
  color: #0382d2;
  text-decoration: none;
  display: inline-block;
  padding: 6px 3px;
  margin: 6px 0;
  text-align: left;
  background-color: white;
  -webkit-transition: color, background-color 0.3s linear;
          transition: color, background-color 0.3s linear;
}
.map a:hover {
  background-color: #0382d2;
  color: white;
}
.map li {
  list-style-type: none;
}
.map > div {
  padding-left: 24px;
}
.map > div > li {
  padding-left: 24px;
}
.map > div > li > ul {
  padding-left: 24px;
}
.map > div > li > ul li > ul {
  padding-left: 24px;
}
.map > div + div li {
  padding-left: 24px;
}

.menuServices .mq__menu {
  display: none;
}

@media screen and (max-width: 1385px) {
  .menuServices ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1210px) {
  .menuServices ul li a {
    font-size: 16px;
  }

  html {
    font-size: 14px;
  }

  .map li {
    font-size: 22px;
  }

  .people {
    height: 335px;
  }
}
@media screen and (max-width: 1067px) {
  .menuServices > ul > li {
    display: none;
  }

  .menuServices ul li:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menuServices ul li.menu__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  html {
    font-size: 12px;
  }

  .menuServices .mq__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    margin: 0 24px;
    position: relative;
  }
  .menuServices .mq__menu:hover ul {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
  }

  .news .item {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .services .window a p:last-child {
    display: none;
  }
  .services .window a .svg::before, .services .window a .svg {
    height: 30vw;
    width: 30vw;
    font-size: 30vw;
    text-align: center;
    padding-left: 24px;
  }
  .services .window a .svg {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 725px) {
  .banniere > * {
    display: none;
  }

  .quiSommesNous p {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }

  .menuServices .mq__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
  }

  .map li {
    font-size: 16px;
  }

  body, .menuServices {
    min-width: 450px;
  }

  .people p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */